

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(4px);

}

body,
input,
textarea {
    font-family: 'poppins', sans-serif;
}

.container{
    position: relative; 
    width: 100%;
    min-height: 100vh;
    padding: 2rem;
    background-color: transparent;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    width: 100%;
    max-width: 820px;
    /* height: 500px; */
    background-color: rgba(225,225,225, 0.2);
    backdrop-filter: blue(10px);
    border: 1px solid rgba(225,225,225, 0.3);
    border-radius: 10px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.contact-img {
    background: url("fliped_cloude.png");
    background-size: cover;
}

.conatct-form {
    background: transparent;
    backdrop-filter: blur(15px);
    padding: 2.3rem 2.2rem;
    z-index: 10;
    overflow: hidden;
    position: relative;
}

.title {
    color: #222222;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1;
    margin-bottom: 0.7rem;
}

.input-container {
    position: relative;
    margin: 1rem 0;
}

.input {
    width: 100%;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.15);
    background: rgba(0, 0, 0, 0.05);
    padding: 0.6rem 1.2rem;
    color: #333333;
    font-weight: 500;
    font-size: 0.95rem;
    letter-spacing: 0.5px;
    border-radius: 25px;
    transition: 0.3s;
}

textarea.input {
    padding: 0.8rem 1.2rem;
    min-height: 150px;
    border-radius: 22px;
    resize: none;
    overflow-y: auto;
}

.conatct-form input::placeholder,
.conatct-form textarea::placeholder {
    color: #333333;
    font-size: 0.95rem;
}

.conatct-form input,
.conatct-form textarea {
    color: #ffffff;
    padding: 12px 20px;
}

.btn {
    padding: 0.6rem 1.3rem;
    background-color: #333333;
    border: 2px solid #fafafa;
    font-size: 0.95rem;
    color: #ffffff;
    line-height: 1;
    border-radius: 25px;
    outline: none;
    cursor: pointer;
    transition: background 0.3s ease;
}

.btn:hover {
    background-color: #555555;
    color: rgba(225,225,225, 0.5);
}

.vdo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.85;
}

.conatct-form input::placeholder {
    color: rgba(0, 0, 0, 0.6);
}

.error {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}